<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skill_category.name %>
</p>


<%= link_to 'Edit', edit_skill_category_path(@skill_category) %> |
<%= link_to 'Back', skill_categories_path %>
