%fieldset
	%legend Register
	= simple_form_for @user, :html => { :multipart => true } do |f|
		=f.input :uid, :input_html => { :value => @auth['uid'] }, :as => :hidden
		=f.input :name, :input_html => { :value => @auth['info']['name'], :class => "span5" }
		=f.input :email, :input_html => { :value => @auth['info']['email'], :class => "span5" }
		=f.input :about, :input_html => { :value => @auth['info']['description'], :class => "span7", :rows => 3 }
		=f.input :user_type_id, :label => "I am a", :collection => UserType.all, :include_blank => false, :input_html => { :class => "span7" }
		=f.input :image, :as => :file
		=f.association :skills, :as => :select, :multiple => true, :required => true
		.form-actions
			=f.button :submit, :class => "btn btn-primary", :value => "Register"
							