.row
	.span12
		.page-header
			%h2
				Recent Work
		%ul.thumbnails
			-if @recents.present?
				-@recents.each do |recent|
					%li.span2
						.thumbnail
							=link_to recent do
								=image_tag recent.image.url(:thumb)
							.caption
								%h5 
									=recent.title
	.span12
		.page-header
			%h2.title
				Popular Works
		%ul.thumbnails
			-if @populars.present?
				-@populars.each do |popular|
					%li.span2
						.thumbnail
							=link_to popular do
								=image_tag popular.image.url(:thumb)
							.caption
								%h5
									=popular.title


	
	
